<!DOCTYPE html>
<html lang="en"> 
<head>
    <%- include("./partials/head") %> <!-- this is used as a component if the same thing is reapeated multiple times then this is used instead of writing the same code again and again-->
    <title>homePage</title>
</head>
<body>
    
    <%- include("./partials/script") %>
</body>
</html>
